Repository jin-bob/recall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

main: updated tailwind config * added d.ts files
  package-lock.json
  package.json
  postcss.config.js
  src/@types/global.d.ts
  src/App.tsx
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --cache --fix, prettier --write

main: added @config to index.css
  src/index.css
Due: prettier --write

main: added husky
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

main: added prettier & analyze scripts
  package-lock.json
  package.json
  src/App.tsx
  src/index.css
  src/main.tsx
Due: eslint --cache --fix, prettier --write

main: updated index.css
  src/index.css
  tailwind.config.js
Due: prettier --write

main: added react-router
  package-lock.json
  package.json
Due: none

main: added base routing
  src/App.tsx
  src/constants/route-paths.ts
  src/main.tsx
  src/routing/index.tsx
Due: eslint --cache --fix, prettier --write

main: refactored styles * added shancn button
  package-lock.json
  package.json
  src/components/ui/button.tsx
  src/index.css
  src/routing/index.tsx
Due: eslint --cache --fix, prettier --write

main: added shadcn skeleton
  src/components/ui/skeleton.tsx
Due: eslint --cache --fix, prettier --write

main: used skeleton * added base welcome page
  src/pages/welcome/header/index.tsx
  src/pages/welcome/index.tsx
  src/routing/index.tsx
Due: eslint --cache --fix, prettier --write

theme: added theme context
  src/constants/storage-keys.ts
  src/constants/theme.ts
  src/context/theme/context.ts
  src/context/theme/theme-provider.tsx
  src/context/theme/types.ts
  src/context/theme/use-theme.ts
  src/main.tsx
Due: eslint --cache --fix, prettier --write

theme: added theme dropdown-menu
  package-lock.json
  package.json
  src/components/ui/dropdown-menu.tsx
Due: eslint --cache --fix, prettier --write

theme: implemented theme dropdown-menu
  src/components/theme-dropdown/dropdown-menu-trigger-with-state.tsx
  src/components/theme-dropdown/index.tsx
  src/components/theme-dropdown/theme-dropdown-menu.tsx
  src/context/theme/theme-provider.tsx
  src/context/theme/types.ts
  src/pages/welcome/header/index.tsx
Due: eslint --cache --fix, prettier --write

header: added logo * changed header colours
  src/assets/icons/logo.svg
  src/index.css
  src/pages/welcome/header/index.tsx
Due: eslint --cache --fix, prettier --write

projects-section: added project cards * changed dark theme * added popover * added card
  package-lock.json
  package.json
  src/assets/project-logos/futurepedia-logo.svg
  src/assets/project-logos/marvelous-logo.svg
  src/assets/project-logos/shutterstock-logo.svg
  src/assets/project-logos/skybox-logo.svg
  src/components/ui/card.tsx
  src/components/ui/popover.tsx
  src/index.css
  src/pages/welcome/index.tsx
  src/pages/welcome/projects-section/index.tsx
  src/pages/welcome/projects-section/project-card-footer.tsx
  src/pages/welcome/projects-section/project-card.tsx
Due: eslint --cache --fix, prettier --write

info-section: added InfoSection
  src/assets/avatar.webp
  src/pages/welcome/index.tsx
  src/pages/welcome/info-section/index.tsx
  src/pages/welcome/projects-section/index.tsx
Due: eslint --cache --fix, prettier --write

footer: added Footer * fixed avatar size when shrinking
  src/pages/welcome/footer/index.tsx
  src/pages/welcome/index.tsx
  src/pages/welcome/info-section/index.tsx
Due: eslint --cache --fix, prettier --write

routing: added base public and private routes logic
  src/constants/route-paths.ts
  src/layouts/admin/index.tsx
  src/layouts/auth/index.tsx
  src/pages/welcome/footer/index.tsx
  src/pages/welcome/header/index.tsx
  src/routing/admin-route-object.tsx
  src/routing/auth-route-object.tsx
  src/routing/index.tsx
  src/routing/private-route.tsx
  src/routing/public-route.tsx
Due: eslint --cache --fix, prettier --write

libs: added react-query & firebase
  package-lock.json
  package.json
Due: none

firebase: added firebase auth * implemented sign-in logic * implemented private and public layouts * updated .env.example
  .env.example
  package-lock.json
  package.json
  src/components/alert-destructive.tsx
  src/components/button-loader.tsx
  src/components/input-password/index.tsx
  src/components/load-spinner/index.tsx
  src/components/login-button/index.tsx
  src/components/sign-in-form/index.tsx
  src/components/sign-in-form/sign-in-schema.ts
  src/components/ui/alert.tsx
  src/components/ui/field.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/hooks/use-firebase-auth-user.ts
  src/lib/firebase/config.ts
  src/lib/firebase/index.ts
  src/lib/tanstack-query/mutations/mutation-keys.ts
  src/lib/tanstack-query/mutations/sign-in-mutation.ts
  src/lib/tanstack-query/query-client.ts
  src/main.tsx
  src/pages/sign-in/index.tsx
  src/pages/welcome/header/index.tsx
  src/routing/auth-route-object.tsx
  src/routing/private-route.tsx
  src/routing/public-route.tsx
Due: eslint --cache --fix, prettier --write

sign-up: implemented sign-up logic
  src/components/sign-up-form/index.tsx
  src/components/sign-up-form/sign-up-schema.ts
  src/constants/form.ts
  src/lib/tanstack-query/mutations/mutation-keys.ts
  src/lib/tanstack-query/mutations/sign-up-mutation.ts
  src/pages/sign-up/index.tsx
  src/routing/auth-route-object.tsx
Due: eslint --cache --fix, prettier --write

dashboard-page: added base dashboard page
  src/layouts/admin/footer/index.tsx
  src/layouts/admin/header/index.tsx
  src/layouts/admin/index.tsx
  src/pages/dashboard/index.tsx
  src/routing/admin-route-object.tsx
Due: eslint --cache --fix, prettier --write

dashboard-table: added mocked table
  package-lock.json
  package.json
  src/components/alert-no-data.tsx
  src/components/table-pagination.tsx
  src/components/table-ui/create-loading.tsx
  src/components/table-ui/get-common-pinning-style.ts
  src/components/table-ui/index.tsx
  src/components/table-ui/table-content.tsx
  src/components/table-ui/types.ts
  src/components/tables/cells/truncate-cell.tsx
  src/constants/common.ts
  src/helpers/getConvertedDate.tsx
  src/hooks/use-get-common-search-params.ts
  src/layouts/admin/index.tsx
  src/lib/axios/index.ts
  src/lib/firebase/get-auth-Id-token.ts
  src/lib/tanstack-query/options/table-data-query-options.ts
  src/main.tsx
  src/pages/dashboard/index.tsx
  src/pages/dashboard/table/cells/status-cell.tsx
  src/pages/dashboard/table/index.tsx
  src/pages/dashboard/table/table-columns.tsx
  src/types/paginated-response.ts
  src/types/table-data-response-object.ts
Due: eslint --cache --fix, prettier --write

dashboard-table: added max-w for table container div
  src/pages/dashboard/table/index.tsx
Due: eslint --cache --fix, prettier --write

dashboard-table: added table component
  src/components/ui/table.tsx
Due: eslint --cache --fix, prettier --write

main: css fix * small improvements
  index.html
  src/components/table-ui/index.tsx
  src/layouts/admin/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/dashboard/table/index.tsx
  src/pages/welcome/info-section/index.tsx
  src/pages/welcome/projects-section/index.tsx
  src/pages/welcome/projects-section/project-card.tsx
Due: eslint --cache --fix, prettier --write

main: removed lodash-es
  package-lock.json
  package.json
  src/components/table-ui/create-loading.tsx
  src/helpers/range.ts
Due: eslint --cache --fix, prettier --write

main: moved dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{css,md})
